.text-block {
    position: absolute;
    bottom: 20px;
    right: 0px;
    background-color:rgba(41,41,41,0.85);
    color: white;
    padding: 5px 20px;
    font-size: 16px;
  }

  .text-block:hover {
    position: absolute;
    bottom: 20px;
    right: 0px;
    background-color:rgba(96,79,158,0.85);
    color: white;
    padding: 5px 20px;
    font-size: 16px;
  }
