<app-header></app-header>
<section>
    <!-- <div class="gap2 gray-bg">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="row merged20" id="page-contents">							
                        <div class="col-lg-3">
                            <div class="central-meta" style="padding:20px 0px;">
                            <aside class="sidebar static left">
                                <div class="widget">
                                    <h4 class="widget-title">Filter Search</h4>
                                    <form class="c-form search" method="post">
                                        <div>
                                            <label>Categories</label>
                                            <div class="form-radio">
                                              <div class="radio">
                                                <label>
                                                  <input type="radio" checked="checked" name="radio"><i class="check-box"></i>All categories
                                                </label>
                                              </div>
                                              <div class="radio">
                                                <label>
                                                  <input type="radio" name="radio"><i class="check-box"></i>Kids <i>(20)</i>
                                                </label>
                                              </div>
                                                <div class="radio">
                                                <label>
                                                  <input type="radio" name="radio"><i class="check-box"></i> Men <i>(45)</i>
                                                </label>
                                              </div>
                                                <div class="radio">
                                                <label>
                                                  <input type="radio" name="radio"><i class="check-box"></i>Women <i>(199)</i>
                                                </label>
                                              </div>
                                            </div>
                                        </div>
                                        <div>
                                            <label>Size</label>
                                            <div class="form-radio">
                                                <select class="form-control">
                                                    <option>Any Size</option>
                                                    <option>1</option>
                                                    <option>2</option>
                                                    <option>3</option>
                                                    <option>4</option>
                                                    <option>5</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div>
                                            <label>Color</label>
                                            <div class="form-radio">
                                                <select class="form-control">
                                                    <option>Any Color</option>
                                                    <option>1</option>
                                                    <option>2</option>
                                                    <option>3</option>
                                                    <option>4</option>
                                                    <option>5</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div>
                                            <label>Brand</label>
                                            <div class="form-radio">
                                                <select class="form-control">
                                                    <option>Any Brand</option>
                                                    <option>1</option>
                                                    <option>2</option>
                                                    <option>3</option>
                                                    <option>4</option>
                                                    <option>5</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div>
                                            <label>Location</label>
                                            <div class="form-radio">
                                                <div class="radio">
                                                    <label>
                                                          <input type="radio" checked="checked" name="radio"><i class="check-box"></i>₹10.00 - ₹49.00
                                                    </label>
                                                </div>
                                                <div class="radio">
                                                    <label>
                                                          <input type="radio" name="radio"><i class="check-box"></i>₹50.00 - ₹99.00
                                                    </label>
                                                </div>
                                                <div class="radio">
                                                    <label>
                                                          <input type="radio" name="radio"><i class="check-box"></i>₹100.00 - ₹199.00
                                                    </label>
                                                </div>
                                                <div class="radio">
                                                    <label>
                                                          <input type="radio" name="radio"><i class="check-box"></i>₹100.00 - ₹199.00
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                        <hr/>
                                        <div>
                                            <label>Price Range</label>
                                            <div class="filter-meta">
                                                <span>price</span>
                                                <div id="slider-range"></div>
                                                <input type="text" id="amount" readonly>
                                            </div>
                                        </div>
                                    </form>	
                                </div>
                              
                               
                                
                            </aside>
                        </div>
                        </div>
                        <div class="col-lg-9">
                            <div class="col-lg-12">
                            <div class="central-meta" style="padding:10px 20px;">
                                <div class="col-lg-12">
                                    <div class="no-top">
                                        <div class="central-meta no-margin">
                                            <ul class="nave-area">
                                               
                                                <li><a href="#" title=""><i class="fa fa-braille"></i> Categories</a>
                                                    <ul class="mega-menu">
                                                        <li><a href="#" title="" data-ripple=""><i class="fa fa-cutlery"><img src="../assets/images/resources/blur-image.jpg" alt=""></i><span>Mobile</span></a></li>
                                                        <li><a href="#" title="" data-ripple=""><i class="fa fa-television"><img src="../assets/images/resources/blur-image2.jpg" alt=""></i><span>Vehicle</span></a></li>
                                                        <li><a href="#" title="" data-ripple=""><i class="fa fa-venus-double"><img src="../assets/images/resources/blur-image3.jpg" alt=""></i><span>Flat/House</span></a></li>
                                                        <li><a href="#" title="" data-ripple=""><i class="fa fa-female"><img src="../assets/images/resources/blur-image.jpg" alt=""></i><span>Furniture</span></a></li>
                                                        <li><a href="#" title="" data-ripple=""><i class="fa fa-music"><img src="../assets/images/resources/blur-image4.jpg" alt=""></i><span>Electronics</span></a></li>
                                                        
                                                        <li><a href="#" title="" data-ripple=""><i class="fa fa-podcast"><img src="../assets/images/resources/blur-image.jpg" alt=""></i><span>Services</span></a></li>
                                                        <li><a href="#" title="" data-ripple=""><i class="fa fa-grav"><img src="../assets/images/resources/blur-image5.jpg" alt=""></i><span>Auto Parts</span></a></li>
                                                        <li><a href="#" title="" data-ripple=""><i class="fa fa-plane"><img src="../assets/images/resources/blur-image2.jpg" alt=""></i><span>Computer</span></a></li>
                                                        <li><a href="#" title="" data-ripple=""><i class="fa fa-newspaper"><img src="../assets/images/resources/blur-image4.jpg" alt=""></i><span>Bicycle</span></a></li>
                                                        <li><a href="#" title="" data-ripple=""><i class="fa fa-headphones"><img src="../assets/images/resources/blur-image3.jpg" alt=""></i><span>Business </span></a></li>
                                                        <li><a href="#" title="" data-ripple=""><i class="fa fa-television"><img src="../assets/images/resources/blur-image5.jpg" alt=""></i><span>Medical</span></a></li>
                                                        <li><a href="#" title="" data-ripple=""><i class="fa fa-film"><img src="../assets/images/resources/blur-image.jpg" alt=""></i><span>Movies/Books</span></a></li>
                                                    </ul>
                                                </li>
                                                
                                                <li><a href="#" title=""><i class="fa fa-heart"></i> Favorites</a></li>                                                                                            
                                                <li><a href="#" title=""><i class="fa fa-bell-o"></i> Notifications</a></li>
                                                
                                            </ul>
                                            <ul class="align-right user-ben">
                                                <li class="search-for">
                                                    <a data-ripple="" class="circle-btn search-data" title="" href="#"><i class="ti-search"></i></a>
                                                    <form class="searchees" method="post">
                                                        <span class="cancel-search"><i class="ti-close"></i></span>
                                                        <input type="text" placeholder="Search in Posts">
                                                        <button type="submit"></button>
                                                    </form>
                                                </li>
                                                
                                               
                                                <li>
                                                    <a href="#" title="Cart" class="circle-btn" data-ripple=""><i class="fa fa-shopping-cart"></i></a>
                                                </li>
                                                <li>
                                                    <a href="#" title="Folow us" class="circle-btn" data-ripple=""><i class="fa fa-star" ></i></a>
                                                </li>
                                                <li class="more">
                                                    <a href="#" title="" class="circle-btn" data-ripple=""><i class="fa fa-ellipsis-h"></i>
                                                    </a>
                                                    <ul class="more-dropdown">
                                                        <li>
                                                            <a href="#">Statics</a>
                                                        </li>
                                                        <li>
                                                            <a href="#">Events</a>
                                                        </li>
                                                        <li>
                                                            <a href="#">Report Profile</a>
                                                        </li>
                                                        <li>
                                                            <a href="#">Block Profile</a>
                                                        </li>
                                                    </ul>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>	
                                </div>
                            </div>
                            <div class="central-meta padding30">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="central-meta">
                                            <span class="create-post">Kids <a href="#" title="">See All</a></span>
                                            <ul class="promo-caro">
                                                <li>
                                                    <img src="../assets/images/resources/kid1.jpg" alt="">
                                                    <div class="promo-meta">
                                                        <a href="#" title="">Basic Knit Pompom</a>
                                                        <span><del>₹138.00</del> ₹100.00
                                                            <i>(In stock)</i></span>
                                                    </div>
                                                </li>
                                                <li>
                                                    <img src="../assets/images/resources/kid2.jpg" alt="">
                                                    <div class="promo-meta">
                                                        <a href="#" title="">Boys Yellow Hooded </a>
                                                        <span><del>₹158.00</del> ₹50.00
                                                            <i>(In stock)</i></span>
                                                    </div>
                                                </li>
                                                <li>
                                                    <img src="../assets/images/resources/kid3.jpg" alt="">
                                                    <div class="promo-meta">
                                                        <a href="#" title="">Children Burford Duffle</a>
                                                        <span><del>₹320.00</del> ₹10.00
                                                            <i>(In stock)</i></span>
                                                    </div>
                                                </li>
                                                <li>
                                                    <img src="../assets/images/resources/promo4.jpg" alt="">
                                                    <div class="promo-meta">
                                                        <a href="#" title="">BMW 2002 Model Car</a>
                                                        <span><i>used</i> $800</span>
                                                    </div>
                                                </li>
                                                <li>
                                                    <img src="../assets/images/resources/promo5.jpg" alt="">
                                                    <div class="promo-meta">
                                                        <a href="#" title="">Dell Laptop N550</a>
                                                        <span><i>New</i> $750</span>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="central-meta">
                                            <span class="create-post">Men <a href="#" title="">See All</a></span>
                                            <ul class="promo-caro">
                                                <li>
                                                    <img src="../assets/images/resources/men1.jpg" alt="">
                                                    <div class="promo-meta">
                                                        <a href="#" title="">Animal Design White Canvas, Artificial Leather Wallet</a>
                                                        <span><del>₹348.21</del> 
                                                            <i>(100 in stock)</i></span>
                                                    </div>
                                                </li>
                                                <li>
                                                    <img src="../assets/images/resources/men2.jpg" alt="">
                                                    <div class="promo-meta">
                                                        <a href="#" title="">Arnold Series Design Grey Canvas, Artificial Leather Wallet </a>
                                                        <span><del>₹358.00</del> ₹50.00
                                                            <i>(100 In stock)</i></span>
                                                    </div>
                                                </li>
                                                <li>
                                                    <img src="../assets/images/resources/men3.jpg" alt="">
                                                    <div class="promo-meta">
                                                        <a href="#" title="">Arsenal Design Red Canvas, Artificial Leather Wallet</a>
                                                        <span><del>₹344.00</del> ₹10.00
                                                            <i>(95 In stock)</i></span>
                                                    </div>
                                                </li>
                                                <li>
                                                    <img src="../assets/images/resources/men1.jpg" alt="">
                                                    <div class="promo-meta">
                                                        <a href="#" title="">Animal Design White Canvas, Artificial Leather Wallet</a>
                                                        <span><del>₹348.21</del> 
                                                            <i>(100 in stock)</i></span>
                                                    </div>
                                                </li>
                                                <li>
                                                    <img src="../assets/images/resources/men2.jpg" alt="">
                                                    <div class="promo-meta">
                                                        <a href="#" title="">Arnold Series Design Grey Canvas, Artificial Leather Wallet </a>
                                                        <span><del>₹358.00</del> ₹50.00
                                                            <i>(100 In stock)</i></span>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="central-meta">
                                            <span class="create-post">Women <a href="#" title="">See All</a></span>
                                            <ul class="promo-caro">
                                                <li>
                                                    <img src="../assets/images/resources/women1.jpg" alt="">
                                                    <div class="promo-meta">
                                                        <a href="#" title="">Basic Dress Green</a>
                                                        <span><del>₹236.00</del> ₹230.00
                                                            <i>(In stock)</i></span>
                                                    </div>
                                                </li>
                                                <li>
                                                    <img src="../assets/images/resources/women2.jpg" alt="">
                                                    <div class="promo-meta">
                                                        <a href="#" title="">Basic Long Sleeve </a>
                                                        <span><del>₹258.00</del> ₹530.00
                                                            <i>(In stock)</i></span>
                                                    </div>
                                                </li>
                                                <li>
                                                    <img src="../assets/images/resources/women3.jpg" alt="">
                                                    <div class="promo-meta">
                                                        <a href="#" title="">Crew Neck T-shirt</a>
                                                        <span><del>₹120.00</del> ₹120.00
                                                            <i>(In stock)</i></span>
                                                    </div>
                                                </li>
                                                <li>
                                                    <img src="../assets/images/resources/women1.jpg" alt="">
                                                    <div class="promo-meta">
                                                        <a href="#" title="">Basic Dress Green</a>
                                                        <span><del>₹236.00</del> ₹230.00
                                                            <i>(In stock)</i></span>
                                                    </div>
                                                </li>
                                                <li>
                                                    <img src="../assets/images/resources/women2.jpg" alt="">
                                                    <div class="promo-meta">
                                                        <a href="#" title="">Basic Long Sleeve </a>
                                                        <span><del>₹258.00</del> ₹530.00
                                                            <i>(In stock)</i></span>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="lodmore">
                                    <span>Viewing 1-8 of 44 friends</span>
                                    <button class="btn-view btn-load-more"></button>
                                </div>
                            </div>
                        </div>	
                        </div>
                    </div>	
                </div>
            </div>
        </div>
    </div>	 -->
    <div class="theme-layout" >
        
        <section>
            <div class="gap pt30l0b0" style="    background-image: url(../assets/img/baner-forum2.png); ">
                <div class="container">
                    <div class="row">
                       <div class="col-lg-6 col-md-6 col-sm-6">
                           <div class="mt-4"></div>
                           <div  class="nofriend">
                            <div class="text-center noRequest">
                                <img src="../assets/images/resources/marketplaceSoon1.png" class="img-responsive" style="    height: 620px; width: auto;">
                                
                            </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6" style="display: flex; align-items:center;justify-content: center;">
                            <div class="mt-4"></div>
                            <div class="mktplace-txt">
                                <h1 class="p-3 heading-txt">Coming Soon</h1>
                                <p class="p-3" style="font-size: 20px !important; font-style: oblique;">we are still working on it.</p>
                            </div>
                            
                        </div>
                           
                       
                    </div>
                </div>
            </div>
        </section>
    </div>
</section>
<app-footer></app-footer>