<app-header></app-header>
    <section>
        <div class="page-header">
            
            
        </div>
    </section><!-- sub header -->
    <section>
        <div class="gap2 gray-bg">
            <div class="container-fluid">
                <div class="row">
                    <div class="offset-lg-4 col-lg-8">
                        <div class="row border-center">
                           
                            <div class="col-lg-6 col-md-6 order-lg-1 order-xl-2">
                                <div class="logout-f">
                                    <h4><i class="fa fa-lock"></i> Find your EOOVBOOK Account</h4>
                                    <p>Please enter your email address or mobile number to search for your account.</p>
                                    <div class="logout-form">
                                        <form method="post" class="again-login" [formGroup]="form" novalidate>
                                            <div class="row merged10">
                                                <div class="col-lg-12">
                                                    <input type="text" (focusout)="mobileVerify()"
                                                            [ngClass]="{'input-error': form.controls['Mobile'].invalid && form.controls['Mobile'].touched}" class="form-control" formControlName="Mobile" value="" 
                                                            required placeholder="Please enter registered email address or phone number">

                                                        <div *ngIf="form.controls['Mobile'].touched">
                                                            <p *ngIf="form.controls['Mobile'].errors?.['required']"
                                                                class="alert alert-danger">
                                                                <i class="fa fa-exclamation-circle"></i>&nbsp; Mobile
                                                                No. is required.
                                                            </p>
                                                        </div>
                                                         <p *ngIf="mobileError!='null'" class="alert alert-danger">
                                                            <i class="fa fa-exclamation-circle"></i>&nbsp;
                                                            {{mobileError}}
                                                        </p>
                                                        <p *ngIf="emailError!='null'" class="alert alert-danger">
                                                            <i class="fa fa-exclamation-circle"></i>&nbsp;
                                                            {{emailError}}
                                                        </p>
                                                </div>
                                                
                                                
                                                
                                               <div class="mt-2">&nbsp;</div>
                                               
                                                <div class="col-lg-12 text-center">
                                                    <button type="submit" (click)="submit()" class="lgajbtn">Send OTP</button>
                                                </div>
                                                                                                    
                                                
                                            </div>
                                        </form>
                                        

                                        
                                        
                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
   <app-footer></app-footer>
