<app-header></app-header>
<section>
    <div class="gap2 gray-bg">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">			
                    <div class="mt-40">&nbsp;</div>				
                    <div class="row merged20" id="page-contents">							
                        <div class="col-lg-3">
                    <aside class="sidebar static left">
                        <div class="widget widgetcustom">
                            <h5 class="refinetitle">Filters</h5>
                            <div class="padd10">
                            <div class="title-block">
                                <form method="post">
                                    <input type="text" placeholder="Search News" #nameText (keyup)="search(nameText.value)">
                                    <button type="submit"  class="lgajbtn"><i class="fa fa-search"></i></button>
                                </form>
                            </div>
                            </div>
                            <div class="mt-4"></div>
                            <form class="c-form search" method="post">									
                                <div class="select-options">
                                    <select class="form-control" (change)="sorting()" [(ngModel)]="selectedOption" name="sorting">
                                        <option selected disabled>Sort by</option>
                                        <!-- <option value="all">See All</option> -->
                                        <option value="new">Newest</option>
                                        <option value="old">oldest</option>
                                        <!-- <option value="order">A to Z</option> -->
                                    </select>
                                </div>
                                <div class="mt-2"></div>
                                <div>	
                                    <h5 class="categorytitle">Categories</h5>									
                                    <div class="form-radio">

                                      <div class="radio rdiobtncustom"  *ngFor="let value of categories;">
                                        <label class="lblcustom">
                                          <input type="radio"  [(ngModel)]="categoryId" (change)="newsByCat(value)" name="radio" value="{{value.DataText}}"><i class="check-box"></i>{{value.DataText}}
                                        </label>
                                      </div>
                                     
                                    </div>
                                </div>
                            </form>	
                        </div>
                    </aside>
                </div>
                <div class="col-lg-9" *ngIf="data.length <= 0"><div class="text-center noRequest">
                    <img src="../assets/images/resources/noNews.svg" class="img-responsive imgerror" style="height:180px; border-bottom: 4px solid #3F3D56;">
                </div>
                <h3 class="errortext text-center">No News for selected Category!!</h3>
            </div>
                <div class="col-lg-9" *ngIf="data.length > 0">

                            <div *ngIf="!filteredItem.length"
                            infiniteScroll
                            [infiniteScrollDistance]="2"
                            [infiniteScrollThrottle]="150"
                            (scrolled)="onScroll()">		
                            <div class="row merged20">
                                
                                <div class="col-lg-4 col-md-4" *ngFor="let item of data">
                                    <div class="central-meta centralmetacustom">
                                        <div class="blog-post">
                                            <div class="friend-info">																										
                                                <div class="post-meta postmetamarg0" >
                                                    <figure>
                                                        <a class="ebnewsimages" title="" (click)="singleNews(item.Id)">
                                                            <img alt="" src="{{item.ImageName}}">	
                                                        </a>															
                                                    </figure>	
                                                    <div class="newspadd10">										
                                                    <div class="description">															
                                                        <a data-ripple="" class="learnmore" href="javascript:void();">{{item.NewsCategory}}</a>														
                                                        <h2 class="line-clamp" (click)="singleNews(item.Id)">{{item.NewsHeadline}}</h2>
                                                        <div class="rdmrtxtimebtn">
                                                        <a class="readmrtxt" (click)="singleNews(item.Id)">Read more</a><span class="timingsglobe"><i class="fa fa-globe"></i> {{item.PulishDays}} </span>
                                                        </div>
                                                    </div>
                                                </div>	
                                                    <div class="we-video-info">
                                                        <ul [routerLink]="['/register']">
                                                            <li>
                                                                <span title="views" data-toggle="tooltip" class="views">
                                                                    <i class="fa fa-eye"></i>
                                                                    <ins>{{item.ViewsCount}}</ins>
                                                                </span>
                                                            </li>
                                                            <li>
                                                                <span title="like" data-toggle="tooltip" class="like">
                                                                    <i class="fa fa-thumbs-o-up"></i>
                                                                    <ins>{{item.LikesCount}}</ins>
                                                                </span>
                                                            </li>
                                                            <li>
                                                                <span title="Comments" data-toggle="tooltip" class="comment">
                                                                    <i class="ti-comments"></i>
                                                                    <ins>{{item.CommentCount}}</ins>
                                                                </span>
                                                            </li>

                                                            <li (click)="copyMessage(item.Id)">
                                                                <span title="Copy News link" data-toggle="tooltip" class="Copy">
                                                                    <i class="fa fa-copy"></i>
                                                                </span>
                                                            </li>
                                                            <li>																	
                                                                    <span class="more-post-optns"><i class="fa fa-share-alt"></i>
                                                                        <ul>
                                                                            <li><a href="https://web.whatsapp.com/send?text={{baseUrl}}/newsdetail?newsId={{item.Id}}" data-action="share/whatsapp/share"><img src="../assets/images/svg/whatsapp.svg">Whatsapp</a></li>
                                                                            <li (click)="openFacebook(item.Id)"><img src="../assets/images/svg/facebook.svg">Facebook</li> 
                                                                            <li><a href=""><img src="../assets/images/svg/twitter.svg">Twitter</a></li>  
                                                                            <li><a href=""><img src="../assets/images/svg/linkedin.svg">Linkedin</a></li> 
                                                                                                                                      
                                                                        </ul>
                                                                    </span>																	
                                                            </li>
                                                            
                                                            
                                                            
                                                            
                                                            
                                                        </ul>
                                                    </div>
                                                
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <ng-template #content>
                            <div class="row merged20" >
                                    <div class="col-lg-4 col-md-4"  *ngFor="let item of filteredItem">
                                    <div class="central-meta centralmetacustom">
                                        <div class="blog-post">
                                            <div class="friend-info">																										
                                                <div class="post-meta postmetamarg0" >
                                                    <figure>
                                                        <a class="ebnewsimages" title="" (click)="singleNews(item.Id)">
                                                            <img alt="" src="{{item.ImageName}}">	
                                                        </a>															
                                                    </figure>	
                                                    <div class="">										
                                                    <div class="description">															
                                                        <a data-ripple="" class="learnmore" href="javascript:void();">{{item.NewsCategory}}</a>														
                                                        <h2 class="line-clamp" (click)="singleNews(item.Id)">{{item.NewsHeadline}}</h2>
                                                        <div class="rdmrtxtimebtn">
                                                        <a class="readmrtxt" (click)="singleNews(item.Id)">Read more</a><span class="timingsglobe"><i class="fa fa-globe"></i> {{item.PulishDays}} </span>
                                                        </div>
                                                    </div>
                                                </div>	
                                                
                                                    <div class="we-video-info">
                                                        <ul (click)="registereModal(registertemp)">
                                                            <li>
                                                                <span title="views" data-toggle="tooltip" class="views">
                                                                    <i class="fa fa-eye"></i>
                                                                    <ins>{{item.ViewsCount}}</ins>
                                                                </span>
                                                            </li>
                                                            <li>
                                                                <span title="like" data-toggle="tooltip" class="like">
                                                                    <i class="fa fa-thumbs-o-up"></i>
                                                                    <ins>{{item.LikesCount}}</ins>
                                                                </span>
                                                            </li>
                                                            
                                                            <li>
                                                                <span title="Comments" data-toggle="tooltip" class="comment">
                                                                    <i class="ti-comments"></i>
                                                                    <ins>{{item.CommentCount}}</ins>
                                                                </span>
                                                            </li>
                                                            
                                                            
                                                        </ul>
                                                        <ng-template #registertemp>
                                                            <div class="modal-body text-center">
                                                              <div class="delttext">Please Register/Login first!!</div>
                                                              <div class="col-lg-12">
                                                                <button type="button" class=" main-btn delyesbtn dltbtn" [routerLink]="['/register']" (click)="decline()" >Register</button>
                                                                <button type="button" class="main-btn delcancelbtn dltbtn" (click)="decline()" >Cancel</button>
                                                              </div>
                                                             
                                                            </div>
                                                          </ng-template>

                                                        
                                                    </div>
                                                
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>

                            
                            </div>
                        </ng-template>
                            <ng-template #other_content>
                                <div *ngIf="filteredItem.length==0" class="row merged20 nofriend">
                                    <div class="text-center noRequest">
                                        <img src="../assets/images/resources/noNews.svg" class="img-responsive imgerror" style="height:180px; border-bottom: 4px solid #3F3D56;">
                                    </div>
                                    <h3 class="errortext text-center">No News for selected Category!!</h3>
                                </div>
                            </ng-template>

                            <div class="lodmore">
                                <span>Viewing 1-6 of 44 posts</span>
                                <button class="btn-view btn-load-more"></button>
                            </div>
                        </div><!-- centerl meta -->
                    </div>	
                </div>
            </div>
        </div>
    </div>	
</section>
<app-footer></app-footer>