<app-friends-header></app-friends-header>
<section>
    <div class="gap-min gray-bg">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="row merged20" id="page-contents">
                        <div class="row merged20" *ngIf="personalInfo.IsAccessible==true">
                            <div class="col-lg-3 col-md-3">
                                <aside class="sidebar">
                                <div class="central-meta stick-widget">
                                    <span class="create-post">Personal Info</span>
                                    <div class="personal-head">
                                        <span class="f-title"><i class="fa fa-user"></i> About Me:</span>
                                        <p>
                                            {{personalInfo.AboutMe}}
                                        </p>
                                        <span class="f-title"><i class="fa fa-birthday-cake"></i> Birthday:</span>
                                        <p>
                                            {{personalInfo.Birthday}}
                                        </p>
                                        <span class="f-title"><i class="fa fa-phone"></i> Phone Number:</span>
                                        <p>
                                            {{personalInfo.ContactNo}}
                                        </p>
                                        <span class="f-title"><i class="fa fa-medkit"></i> Blood group:</span>
                                        <p>
                                            {{personalInfo.BloodGroup}}
                                        </p>
                                        <span class="f-title"><i class="fa fa-male"></i> Gender:</span>
                                        <p>
                                            {{personalInfo.Gender}}
                                        </p>
                                        <span class="f-title"><i class="fa fa-globe"></i> Country:</span>
                                        <p>
                                            {{personalInfo.Country}}
                                        </p>
                                        <span class="f-title"><i class="fa fa-briefcase"></i> Occupation:</span>
                                        <p>
                                            {{personalInfo.OccupationName}} 
                                        </p>
                                        <span class="f-title"><i class="fa fa-handshake-o"></i> Joined:</span>
                                        <p>
                                            {{personalInfo.JoinedOn}} 
                                        </p>
                                        
                                        <span class="f-title"><i class="fa fa-envelope"></i> Email:</span>
                                        <p>
                                            <a href="javascript:void();" title="">{{personalInfo.Email}}</a> <a href="javascript:void();" class="__cf_email__" data-cfemail=""></a> 
                                        </p>                                    
                                    </div>
                                </div>
                                </aside>	
                            </div>	
                            <div class="col-lg-9 col-md-9">                            
                                <div class="central-meta">
                                    <span class="create-post">Photos </span>
                                    <div class="row">
                                        <div class="col-lg-12 col-md-6 col-sm-6">
                                            <ul class="pflphots" id="work-grid">
                                                <li *ngFor="let images of friendsImages; let i = index">
                                                    <img class="img-responsive" [src]="images.PostImageName" (click)="showLightbox(i)"/>
                                                    
                                                    
                                                </li>
                                                
                                                <ng-image-fullscreen-view
                                                        [images]="friendsImages"
                                                        [imageIndex]="selectedImageIndex"
                                                        [show]="showFlag"
                                                        (close)="closeEventHandler()">
                                                    </ng-image-fullscreen-view>
                                            </ul>
                                            <div  class="nofriend" *ngIf="friendsImages==0">
                                                <div class="text-center noRequest">
                                                    <img src="../assets/images/resources/noPhotos.svg" class="img-responsive" style="height:230px; border-bottom: 4px solid #3F3D56; margin-top: 30px;">
                                                    <h4 class="p-3">Oops!! No Photo's Data!!</h4>
                                                </div>
                                            </div>
                                        </div>
                                    
                                    </div>
                                </div>
                            
                            
                            </div>
                        </div>
                        <div class="row merged20" *ngIf="personalInfo.IsAccessible==false">
                            <div class="col-lg-12 col-md-12">
                                <div class="text-center noRequest">
                                    <img src="../assets/images/resources/locked.svg" class="img-responsive" style="height:230px; border-bottom: 4px solid #3F3D56; margin-top: 30px;">
                                    <h4 class="p-3">Oops!! Profile Locked!!</h4>
                                </div>
                            </div>

                        </div> 
                    </div>	
                </div>
            </div>
        </div>
    </div>	
</section>